<div class="container">

    <h1>Questions</h1>
    <table class="table">
        <tbody class="table-striped">
            <% @questions.each do |question| %>
            <tr>
                <td></td>
                <td>
                    <h1><%= link_to question.title, question_path(question) %></h1>
                    <h2><%= question.body %></h2>
                </td> 
                <td>
                    <%= link_to 'edit', edit_question_path(question) %>
                </td>
            </tr>
            <% end %>
        </tbody>
    </table>
</div>