.navbar-right {
    display: inline-flex;
    align-items: center;
}

.question-button{
    float: right;
    margin-bottom: 40px;
}

a {
    color: #f04500;
}
.navbar-inverse {
    border-radius: 0px;
}